/*CSS 초기화*/
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*--*/

.portrait {
    background-image: url(../IMG_9444.JPG);
    background-size: cover;
    background-position: center;
    padding-top: 56.25% /* 16:9 */
}
